<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{{ title }}</title>
	<link type="text/css" href="io_writes_report.css" rel="stylesheet">
</head>
<body>
    
	
	
	<ul id="navigation">
    {% for item in navigation %}
        <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
    {% endfor %}
    </ul>

    <h1>{{ title }}</h1>
	<p>{{ summary|replace("\n", "<br>") }}
	</p>
	
	<h2>Top writes (per filename):</h2>
	<object data="top_per_filename.svg" type="image/svg+xml"></object>



	<table border=1>
	<tr>
		<th></th>
		<th>Filename</th>
		<th>Process</th>
		<th>Bytes</th>
	</tr>
	{% for item in top20PerFilename %}
		<tr>
			<td>{{ loop.index }}</td>
			<td>{{ item['FILE']|trim()|default("(console output?)", true) }}</td>
			<td>{{ item['PROCESS'] }}</td>
			<td>{{ item['BYTES'] }}</td>
		</tr>        
    {% endfor %}
	</table>
	
    <h2>Top writes (per stacktrace):</h2>
	<table border=1>
	<tr>
		<th></th>
		<th>Stacktrace</th>
		<th>Filename</th>
		<th>Process</th>
		<th>Bytes</th>
		<th># calls</th>
	</tr>
	{% for item in top20PerStacktrace %}
		<tr>
			<td>{{ loop.index }}</td>
			<td><div class="stacktrace">{{ item['TRACE']|replace("<-", "", 1)|replace("<-", "<br>")|replace("/home/user/python-src/virtualenv-attempt/venv", "") }}</div></td>
			<td>{{ item['FILE']|trim()|default("(console output?)", true) }}</td>
			<td>{{ item['PROCESS'] }}</td>
			<td>{{ item['BYTES'] }}</td>
			<td>{{ item['COUNT'] }}</td>						
		</tr>        
    {% endfor %}
	</table>
	
 <h2>Top largest writes (absolute no. of bytes):</h2>
	<table border=1>
	<tr>
		<th></th>
		<th>Stacktrace</th>
		<th>Filename</th>
		<th>Process</th>
		<th>Bytes</th>
	</tr>
	{% for item in topLargestWrites %}
		<tr>
			<td>{{ loop.index }}</td>
			<td><div class="stacktrace">{{ item['TRACE']|replace("<-", "", 1)|replace("<-", "<br>")|replace("/home/user/python-src/virtualenv-attempt/venv", "") }}</div></td>
			<td>{{ item['FILE']|trim()|default("(console output?)", true) }}</td>
			<td>{{ item['PROCESS'] }}</td>
			<td>{{ item['BYTES'] }}</td>
		</tr>        
    {% endfor %}
	</table>
	
</body>
</html>
