<!DOCTYPE HTML>
<html lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<head>
    <title>{{ title }}</title>
    <link type="text/css" href="io_writes_report.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/jenkins/static/5ab39aca/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/jenkins/static/5ab39aca/css/color.css" />
    <link rel="stylesheet" type="text/css" href="/jenkins/static/5ab39aca/scripts/yui/container/assets/container.css" />
    <link rel="stylesheet" type="text/css" href="/jenkins/static/5ab39aca/scripts/yui/assets/skins/sam/skin.css" />
    <link rel="stylesheet" type="text/css" href="/jenkins/static/5ab39aca/scripts/yui/container/assets/skins/sam/container.css" />
    <link rel="stylesheet" type="text/css" href="/jenkins/static/5ab39aca/scripts/yui/button/assets/skins/sam/button.css" />
    <link rel="stylesheet" type="text/css" href="/jenkins/static/5ab39aca/scripts/yui/menu/assets/skins/sam/menu.css" />
    <script src="/home/corpaul/workspace/gumby/templates/raphael-min.js"></script>
	<script src="/home/corpaul/workspace/gumby/templates/charts.min.js"></script>
</head>
<body>

Similarity of written bytes compared to previous revision

	<div id='chart1' style='width: 1200px; height: 300px;'></div>

<script>
	// Can pass in the id
	var chart = new Charts.LineChart('chart1', {
			y_axis_scale: [0,1],
			max_y_labels: 10,
			max_x_labels: 10
		});

	// Data is an array of arrays where the first slot is the x label and the 2nd the (y) value to graph
	chart.add_line({
	  data: [
	  		{% for item in similarity %}
		        [{{ item.profile_id }}, {{ item.value }}],
		    {% endfor %}
	  		]
	});

	chart.draw();
</script>

</body>
</html>
